.about-us {

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }

  &__content {
    width: 45%;
  }

  &__text {
    margin-top: 39px;

    p {
      margin-bottom: 20px;
      font-family: $Cambria;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: $black;
    }
  }

  &__columns {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    font-family: $Cambria;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $black;

    p {
      width: 130px;
    }
  }
}

.our-position {
  margin-bottom: 30px;
}
