.building-bridge {
  margin: 77px 0 97px 0;

  &__container {
    display: flex;
    justify-content: center;
    margin-top: 106px;
  }

  &__content {
    width: 45%;

    &:first-child {
      margin-right: 84px;
    }
  }

  &__img {
    width: 100%;
    height: 344px;
    overflow: hidden;

    &_big {
      height: 834px;
    }

    img {
      width: auto;
      height: 100%;
    }
  }

  &__text {
    margin: 61px 0;
    font-family: $Cambria;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $black;
    width: 80%;

    &_m7 {
      margin: 75px 0;
    }

    p {
      margin-bottom: 15px;
    }
  }

  &__list {
    padding-left: 15px;
    list-style-type: disc;
  }
}
