.building-houses {
  margin-top: 57px;

  &__images {
    display: flex;
    justify-content: center;
    margin-top: 54px;
    padding: 0 44px;
  }

  &__img {
    height: 331px;

    &:nth-child(2) {
      margin: 0 23px;
    }

    img {
      width: auto;
      height: 331px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    font-family: $Cambria;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    p {
      margin-bottom: 20px;
      width: 60%;
    }
  }
}
