.complex-equipment {

  &__img {
    height: 100%;
    max-height: 700px;
    overflow: hidden;

    &:first-child {
      width: 60%;
    }

    &:last-child {
      width: 30%;
    }

    img {
      width: auto;
      height: 100%;
    }
  }
}
