.contacts {
  padding-top: 71px;

  & > .wrapper {
    padding: 0 39px;

    h4 {
      margin-top: 30px;
      color: $black;
      font-family: $Cambria;
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      text-transform: uppercase;
    }
  }

  &__info {
    margin-top: 20px;
    max-width: 1095px;
    display: flex;
    justify-content: space-between;
  }

  &__item {

  }

  &__title {
    opacity: 0.5;
    color: $black;
    font-family: $Cambria;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
  }

  &__value {
    margin-top: 6px;
    color: $black;
    font-family: $Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
  }

  &__form {
    background-color: rgba(153, 204, 204, 0.7);

    .wrapper {
      padding-top: 32px;
      max-width: 830px;
      height: 317px;
    }

    h4 {
      color: $black;
      font-family: $Cambria;
      font-size: 21px;
      font-weight: 700;
      line-height: 24px;
    }

    &-flex {
      margin-top: 17px;
      display: flex;
      justify-content: space-between;
    }

    &-column {
      flex-direction: column;
      justify-content: space-between;
      height: 166px;


      input,
      textarea {
        border: none;
        outline: none;
        background-color: $white;
        color: $black;
        font-family: Arial;
        padding-left: 17px;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;

      }
      input {
        margin-bottom: 17px;
        width: 296px;
        height: 44px;
      }

      textarea {
        padding-top: 17px;
        width: 430px;
        height: 166px;
        resize: none;
      }
    }

    &-bottom {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__checkbox {
    margin-top: 12px;
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $black;
    font-family: $Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid $black;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 3px;
        top: -2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    input:checked ~ span {
      background-color: $black;
    }
    input:checked ~ span:after {
      display: block;
    }
  }

  &__submit {
    cursor: pointer;
    box-shadow: none;
    outline: none;
    width: 278px;
    height: 43px;
    border: 1px solid #86ecd5;
    color: #00e0d0;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    transition: $delay;
    background-color: $white;

    &:hover {
      opacity: .8;
    }
  }
}