
@include fontface($Roboto, Roboto-Bold, 700, normal);
@include fontface($Roboto, Roboto-Medium, 500, normal);
@include fontface($Roboto, Roboto-Regular, 400, normal);
@include fontface($Roboto, Roboto-Light, 300, normal);

@include fontface($Cambria, Cambria, 400, normal);
@include fontface($Cambria, Cambria-Bold, 700, normal);
@include fontface($Cambria, Cambria-Italic, 400, italic);
@include fontface($Cambria, Cambria-BoldItalic, 400, italic);

* {
  box-sizing: border-box;
}

//body {
//  min-width: 1280px;
//}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
  border: none;
}

.main {
  display: block;
}
.wrapper {
  margin: auto;
  max-width: 1310px;
  padding: 0 15px;
}

.slick-dots {
  bottom: 32px;
}
.slick-dots li  {
  margin: 0 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;

  &.slick-active {
    button {
      background: #00e0d0;
      border-color: transparent;
    }
  }

  button {
    padding: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;

    &:before {
      content: none;

    }
  }
}


.section-title {
  text-align: center;

  h3 {
    color: $black;
    font-family: $Cambria;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.23px;
    line-height: 29px;
    position: relative;
    padding-bottom: 2px;
    display: inline;


    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $black;
    }
  }
}

.modal-fade {
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  transition: $delay;
  opacity: 0;
  z-index: -1;

  &.show {
    opacity: 0.66;
    z-index: 4;
  }
}

//@media only screen and (max-width: 1279px) {
//  p, span {
//    font-size: 14px !important;
//  }
//}


//body {
//  overflow-x: hidden;
//}

#map {
  margin-top: 47px;
  height: 516px;
}