.energy{

  &__tools{
    padding: 0 104px;
  }

  &__title{
    padding-top: 58px;
    padding-bottom: 47px;
  }
}

.energy-content{

  &__imgs{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 45px;
  }

  &__imgs:last-child{
    margin-bottom: 0;
  }

  &__col-left{
    width: 317px;
  }
  &__col-right{
    width: 717px;
  }

  &__content{
    color: #000000;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  &__content-text{
    margin-bottom: 15px;
  }
}