.egineering{

  &__tools{
    padding: 55px 0;
  }
}

.engineering-content{
  padding: 0 128px;

  &__imgs{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    height: 450px;
    margin-bottom: 50px;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__imgs:last-child{
    margin-bottom: 0;
  }

  &__col-left{
    flex: 0 0 294px;
    height: 100%;
  }

  &__col-rigth{
    flex: 0 0 690px;
    height: 100%;
  }

  &__text{
    color: #000000;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    line-height: 16px;
    margin-bottom: 60px;
  }

  &__title{
    margin-bottom: 20px;
  }

  &__item{
    margin-bottom: 30px;
  }

  &__subtitle{
    padding-left: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
  }

  &__subtitle:before{
    content: '.';
    display: inline-block;
    color: #000000;
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 0;
  }
}