
.footer {

  &__top {
    box-shadow: 4px 8px 17px rgba(107, 122, 155, 0.32);
    background-color: $white;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 109px;
      padding: 0 52px;
    }
  }

  &__left-side {
    color: $black;
    font-family: $Cambria;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.65px;
    line-height: 15px;

    span {
      display: block;
    }
  }

  &__email {
    margin-top: 12px;
  }

  &__logo {
    transform: translateX(18px);
    color: #797979;
    font-size: 10px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p {
      margin-top: 7px;
    }



    img {
      max-width: 136px
    }


  }

  &__right-side {
    transform: translateY(-22px);
    margin-right: -3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__contacts {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;

    span {
      color: $black;
      font-family: $Cambria;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    &-call {
      margin-left: 37px;
      margin-right: 10px;
      margin-bottom: 2px;
      color: #908f8f;
      font-family: $Roboto;
      font-size: 9px;
      font-weight: 400;
      letter-spacing: -0.09px;
      line-height: 8px;
      transition: $delay;

      &:hover {
        opacity: .8;
      }
    }
  }

  &__search {
    margin-top: 12px;
    margin-right: 5px;
    position: relative;
    border-bottom: 1px solid $black;
    width: 233px;
    height: 25px;

    button {
      border: none;
      box-shadow: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      top: 3px;
      right: -7px;
      position: absolute;
      background-image: url("../img/search.svg");
      width: 14px;
      height: 15px;
      background-size: cover;
    }
  }

  &__bottom {
    height: 48px;

    p {
      text-align: center;
      color: $black;
      font-family: $Roboto;
      font-size: 9px;
      font-weight: 400;
      line-height: 54px;
      text-transform: uppercase;
    }
  }
}