.general-contract {
  padding-top: 57px;

  &__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 45px 0 54px 0;
  }

  &__img {
    width: 44%;
    max-height: 370px;
    overflow: hidden;
  }

  &__list {
    padding-left: 15px;
    list-style-type: disc;
  }

  &__list,
  p {
    margin-bottom: 15px;
    font-family: $Cambria;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $black;
  }

  &__image {
    margin-top: 50px;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
  }

  img {
    width: 100%;
  }
}
