

.header {
  background-color: $white;

  .wrapper {
    height: 100%;
    padding: 0 52px;
  }

  &__title {
    top: 26px;
    position: absolute;
    color: $black;
    font-family: $Cambria;
    font-size: 9px;
    font-weight: 400;
    line-height: 47px;
  }

  &__top {
    box-shadow: 4px 7px 16px rgba(107, 122, 155, 0.32);
    height: 153px;

    .wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
  }

  &__navbar {
    margin-top: 22px;
    display: flex;
    align-items:  center;
  }

  &__menu {
    display: flex;

    &-item {
      margin-right: 32px;
    }

    &-link {
      color: $black;
      font-family: $Cambria;
      font-size: 13px;
      font-weight: 400;
      transition: $delay;

      &:hover {
        opacity: .8;
      }

      &.active {
        color: #00e0d0;
      }
    }
  }

  &__logo {
    width: 247px;
    height: 139px;
    margin-top: 6px;
    margin-right: 169px;
    max-height: 210px;
  }

  &__right-side {
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__contacts {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;

    span {
      color: $black;
      font-family: $Cambria;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    &-call {
      margin-left: 37px;
      margin-right: 10px;
      margin-bottom: 2px;
      color: #908f8f;
      font-family: $Roboto;
      font-size: 9px;
      font-weight: 400;
      letter-spacing: -0.09px;
      line-height: 8px;
      transition: $delay;

      &:hover {
        opacity: .8;
      }
    }
  }

  &__search {
    margin-top: 16px;
    margin-right: 16px;
    position: relative;
    border-bottom: 1px solid $black;
    width: 233px;
    height: 25px;

    button {
      border: none;
      box-shadow: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      top: 3px;
      right: -7px;
      position: absolute;
      background-image: url("../img/search.svg");
      width: 14px;
      height: 15px;
      background-size: cover;
    }
  }

  &__bottom {
    padding-top: 15px;
    height: 121px;
    box-shadow: 4px 7px 16px rgba(107, 122, 155, 0.32);
  }

  &__navigation {
    display: flex;
    justify-content: space-between;

    &-item {
      width: 12.5%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: $delay;

      &:nth-child(4) span {
        padding: 0 30px;
      }

      &:nth-child(5) span {
        padding: 0 30px;
      }

      &:nth-child(8) span {
        padding: 0 30px;
      }
    }

    &-svg{
      min-height: 56px;
      max-height: 56px;
      min-width: 56px;
      max-width: 56px;
      margin-bottom: 13px;
      pointer-events: none;
    }

    &-svg use{
      transition: $delay;
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #666666;
      font-family: $Cambria;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      text-align: center;
      transition: $delay;

      &:hover {
        color: #6be1d7;

        & .header__navigation-svg use {
          fill: #6be1d7;
        }
      }

      img {
        margin-bottom: 14px;
      }

      span {
        max-width: 196px;
        min-width: 120px;
      }
    }
  }
}
