.industrial{

  &__title{
    padding: 80px 50px;
  }

  &__tools{
    padding: 0 50px;
  }
}

.industrial-items{

  &__tools{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__col{
    max-width: 584px;
  }

  &__image{
    margin-bottom: 40px;
  }

  &__content {
    color: #000000;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    line-height: 16px;
  }

  &__text{
   margin-bottom: 50px;

    & p{
      margin-bottom: 15px;
    }
  }

  &__ul{
    margin-bottom: 50px;
  }

  &__ul-title{
    margin-bottom: 15px;
  }

  &__ul li{
    position: relative;
    z-index: 0;
    padding-left: 10px;
    line-height: 18px;
  }

  &__ul li:before {
    content: '';
    width: 4px;
    height: 4px;
    display: block;
    background-color: #000000;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 7px;
    left: 0;
  }
}