.map{

  &__title{
    padding-top: 60px;
  }
}

.map-obj{


  &__tools{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/map.jpg);
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
  }

  &__position{
    width: 1064px;
    height: 555px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  &__marker{
    width: 34px;
    height: 43px;
    background-image: url(../img/marker.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    cursor: pointer;

    position: absolute;
    z-index: 2;
    opacity: 0.90;

    transition: $delay;
    transform-origin: 50% 100%;
    transform: scale(1);

    &:hover,
    &.is-open{
      z-index: 3;
      transform: scale(1.05);
      background-image: url(../img/marker-active.png);
    }
  }
}

.map-modal{

  &__tools{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

    width: 1064px;
    height: 100%;

    transition: 350ms cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: 50% 100% 0;
    transform: scale(0.01);
    opacity: 0;

    &.is-open{
      transform: scale(1);
      opacity: 1;
    }
  }

  &__circle{
    width: 250px;
    height: 250px;
    background-color: rgba(0, 224, 208, 0.7);
    border-radius: 50%;
    overflow: hidden;

    position: absolute;
    top: -10px;
    right: -25px;
    left: auto;
    bottom: auto;
    z-index: 2;
  }

  &__content{
    font-family: $Cambria;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0 25px;
    max-height: 153px;
    overflow: hidden;
    position: relative;
    top: 57px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }

  &__content-line{
    width: 139px;
    height: 1px;
    background-color: #000000;
    margin: 10px auto 8px;
  }

  &__circle_line{
    width: 5px;
    height: 5px;
    background-color: mediumvioletred;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform-origin: 0 0 0;
    transform: rotate(-22deg);
  }
}


/* MARKERS */

.map-obj__marker-1{
  top: 326px;
  left: 25px;
}

.map-obj__marker-2{
  top: 226px;
  left: 75px;
}

.map-obj__marker-3{
  top: 326px;
  left: 145px;
}

.map-obj__marker-4{
  top: 271px;
  left: 155px;
}

.map-obj__marker-5{
  top: 180px;
  left: 155px;
}

.map-obj__marker-6{
  top: 180px;
  left: 255px;
}

.map-obj__marker-7{
  top: 220px;
  left: 214px;
}

.map-obj__marker-8{
  top: 240px;
  left: 194px;
}

.map-obj__marker-9{
  top: 271px;
  left: 204px;
}

.map-obj__marker-10{
  top: 300px;
  left: 215px;
}

.map-obj__marker-11{
  top: 221px;
  left: 244px;
}

.map-obj__marker-12{
  top: 241px;
  left: 225px;
}

.map-obj__marker-13{
  top: 247px;
  left: 267px;
}

.map-obj__marker-14{
  top: 271px;
  left: 244px;
}

.map-obj__marker-15{
  top: 318px;
  left: 255px;
}

.map-obj__marker-16{
  top: 376px;
  left: 225px;
}

.map-obj__marker-17{
  top: 210px;
  left: 365px;
}

.map-obj__marker-18{
  top: 351px;
  left: 325px;
}

.map-obj__marker-19{
  top: 211px;
  left: 435px;
}

.map-obj__marker-20{
  top: 201px;
  left: 485px;
}

.map-obj__marker-21{
  top: 331px;
  left: 455px;
}

.map-obj__marker-22{
  top: 450px;
  left: 435px;
}

.map-obj__marker-23{
  top: 466px;
  left: 575px;
}

.map-obj__marker-24{
  top: 455px;
  left: 685px;
}

.map-obj__marker-25{
  top: 386px;
  left: 705px;
}

.map-obj__marker-26{
  top: 396px;
  left: 785px;
}

.map-obj__marker-27{
  top: 346px;
  left: 845px;
}

.canvas-body{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto;
  pointer-events: none;

  transition: 340ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: 50% 100% 0;
  transform: scale(0.01);
  opacity: 0;

  &.is-open{
    transform: scale(1);
    opacity: 1;
  }
}