.our-objects {
  padding-top: 61px;

  &__map {
    min-height: 566px;
    background-image: url('../img/map-objects.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.customers__slide {
  outline: none;
}
