.services{

  &__tools{
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.services-items{

  &__bg{
    background-color: rgba(172, 172, 172, 0.11);
  }

  &__tools{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__col{
    flex: 0 0 282px;
    border: 2px solid transparent;
    background-color: #ffffff;
    transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);

    position: relative;
    z-index: 1;
    cursor: default;
    margin: 20px 0;
  }

  &__col:hover,
  &__col:active{
    box-shadow: 2px 4px 9px rgba(107, 122, 155, 0.5);
    border-color: #00e0d0;

    & .services-items__card_img{
      border-color: #00e0d0;
    }
  }

  &__card_title{
    padding: 14px 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__card_img{
    width: 100%;
    height: 132px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card_h2{
    color: #000000;
    font-family: $Cambria;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }

  &__card_text{
    color: #000000;
    font-family: $Roboto;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;

    padding: 12px 7px 12px 17px;
  }

  &__card_link{
    display: inline-block;
    color: #878585;
    font-family: $Roboto;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 14px;
    margin-top: 5px;
    cursor: pointer;
    transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__card_link:hover{
    color: #00e0d0;
  }
}