.banner-slider {


  &__slide {
    position: relative;
    height: 425px;
    overflow: hidden;

    h3 {
      top: 173px;
      width: 100%;
      text-align: center;
      position: absolute;
      height: 80px;
      text-transform: uppercase;
      color: $white;
      font-family: $Roboto;
      font-size: 47px;
      font-weight: 700;
      line-height: 47px;
      text-shadow: 4px -1px #929191;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.text-info {
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 24px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }

  &__column {
    width: 50%;

    &:first-child {
        padding-right: 20px;
    }

    &-container {
      display: flex;
      justify-content: space-between;

      p {
        &:nth-child(2) {
          margin-left: 43px;
        }
      }
    }

    .section-title {
      margin-bottom: 38px;
    }

    p {
      line-height: 17px;
      color: $black;
      font-family: $Roboto;
      font-size: 15px;
      font-weight: 400;
    }
  }

  &__link {
    margin-top: 60px;
    margin-left: 22px;
    display: block;
    width: 123px;
    color: rgba(0, 0, 0, 0.47);
    font-family: $Roboto;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 13px;
    text-decoration: underline;
    transition: $delay;

    &:hover {
      opacity: .8;
    }
  }
}

.developments {
  padding-top: 17px;
  background-color: rgba(172, 172, 172, 0.11);
  height: 418px;

  .wrapper {
    max-width: 1169px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-top: 67px;
    width: 567px;
    height: 275px;
    display: flex;
    background-color: $white;
    border: 1px solid transparent;
    transition: $delay;

    img {
      transition: $delay;
      width: 275px;
      height: 274px;
    }

    &:hover {
      box-shadow: 2px 4px 10px rgba(107, 122, 155, 0.5);
      border-color: #6be1d7;

      .developments__button {
        color: #00e0d0;
        border-color: #00e0d0;
      }

      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }
  &__info {
    padding: 17px 60px 0 17px;
    height: auto;

    h3 {
      margin-top: 2px;
      color: $black;
      font-family: $Cambria;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.13px;
      line-height: 17px;
    }

    p {
      margin-top: 18px;
      color: $black;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      line-height: 16px;
      height: 80px;
    }
  }

  &__date {
    color: #898989;
    font-family: $Roboto;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.13px;
    line-height: 23px;
  }

  &__subtitle {
    margin-top: 23px;
    margin-left: -4px;
    max-width: 170px;
    display: block;
    color: #666666;
    font-family: $Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    line-height: 14px;
  }

  &__button {
    margin-top: 5px;
    margin-left: 3px;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.43);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $black;
    font-family: $Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    transition: $delay;
  }
}

.working {
  max-width: 1280px;
  margin: auto;
  padding-top: 30px;

  .wrapper {
    margin-top: 40px;
    max-width: 1920px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: calc(50% - 17px);
    height: 417px;
    position: relative;
    color: $black;
    border: 2px solid transparent;
    transition: $ease;

    img {
      transition: $ease;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      box-shadow: 2px 4px 10px rgba(107, 122, 155, 0.5);
      border-color: #6be1d7;

      .working__button {
        color: $black;
        border-color: rgba(0, 0, 0, 0.43);
      }

      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }

  &__info {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.77);
    padding: 32px 60px 0;
    height: 210px;

    h3 {
      opacity: 0.9;
      color: $black;
      font-family: $Cambria;
      font-size: 26px;
      letter-spacing: 0.26px;
      line-height: 4px;
      font-weight: 700;
    }

    p {
      margin-top: 29px;
      margin-left: -6px;
      font-family: $Roboto;
      font-size: 19px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  &__button {
    margin: 16px auto;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #00e0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #00e0d0;
    font-family: $Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    transition: $delay;
  }

  &__video {
    margin: 40px auto 0;
    width: 793px;
    height: 474px;
    position: relative;

    video {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }


  &__more {
    display: flex;
    justify-content: center;
    margin: 26px auto 0;
    width: 138px;
    height: 23px;
    color: #00e0d0;
    font-family: $Roboto;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 9px;
    transition: $delay;

    &:hover {
      opacity: .8;
    }
  }
}

.principles {
  padding-top: 44px;

  .wrapper {
    padding-top: 38px;
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    transform: translateX(-33px);
  }

  &__container {
    margin-top: 42px;
    position: relative;
  }

  &__header {
    top: 0;
    position: absolute;
    width: 100%;
    height: 97px;
    background-color: #94dbdb;
  }

  &__item {
    //width: calc(20% - 50px);
    width: 170px;
    padding: 0 5px;
    font-family: $Roboto;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 118px;
      height: 7px;
      border-radius: 4px;
      background-color: #94dbdb;
    }

    h4 {
      max-width: 232px;
      height: 35px;
      color: $white;
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
    }

    p {
      margin-top: 43px;
      color: $black;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 14px;
      height: 197px;
    }
  }
}

.recommendations {
  padding-top: 89px;

  .wrapper {
    display: flex;
  }

  &__container {
    margin-top: 64px;
    padding-top: 27px;
    background-color: rgba(172, 172, 172, 0.11);
    padding-bottom: 47px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 52px;
  }

  &__item {
    height: 441px;
    padding-top: 26px;
    padding-bottom: 40px;
    width: calc(25% - 22px);
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: $delay;
    border: 2px solid transparent;

    &:hover {
      border-color: #6be1d7;
      box-shadow: 2px 4px 10px rgba(107, 122, 155, 0.5);


      .recommendations__button {
        color: #00e0d0;
        border-color: #00e0d0;
      }
    }
  }

  &__image {
      max-width: 56%;
  }

  &__info {
    padding: 16px 25px 0 35px;
    position: relative;
    height: 303px;

    h4 {
      color: #00e0d0;
      font-family: $Cambria;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 0.66px;
      line-height: 13px;
    }

    p {
      margin-top: 16px;
      color: $black;
      font-family: $Roboto;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.12px;
      line-height: 16px;
      height: 64px;
    }
  }

  &__button {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    width: 101px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.43);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $black;
    font-family: $Roboto;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    transition: $delay;
  }
}

.resources {
  padding-top: 41px;

  .wrapper {
    padding-top: 44px;
    max-width: 1086px;
    display: flex;
    justify-content: space-between;
  }

  &__diagram {
    padding-top: 35px;
    margin-top: 14px;
    background-image: url("../img/diagram.png");
    background-size: cover;
    width: 720px;
    height: 431px;

    p {
      margin: auto;
      max-width: 450px;
      text-align: center;
      color: #010000;
      font-family: $Roboto;
      font-size: 17px;
      font-weight: 400;
      line-height: 19px;
    }
  }

  &__list {
    margin-top: 8px;
    width: 240px;
  }

  &__item {
    margin-bottom: 30px;
    color: $black;
    font-family: $Roboto;

    h4 {
      font-size: 19px;
      font-weight: 400;
      line-height: 13px;
      padding-bottom: 22px;
      position: relative;
      width: 167px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
      }
    }

    p {
      margin-top: 22px;
      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
    }

    &_one {
      margin-bottom: 53px;

      h4 {
        &:after {
          background-color: #00cccc;
        }
      }
    }

    &_two {
      margin-bottom: 61px;

      h4 {
        &:after {
          background-color: #01cc9b;
        }
      }

      p {
        margin-top: 28px;
      }
    }

    &_three {
      h4 {
        &:after {
          background-color: #14a0c0;
        }
      }
    }
  }
}

.customers {
  padding-top: 44px;
  position: relative;

  &__modal {
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 840px;
    z-index: 5;
    transform: translateY(100vw);
    transition: $delay;

    &.show {
      top: 50%;
     transform: translateY(-25%);
    }

    img {
      width: 100%;
      max-height: 720px;
      object-fit: contain;
    }
  }

  &__gallery {
    margin: 5px auto 0;
    padding: 40px 0 20px;
    width: 100%;
    overflow: hidden;
    height: 593px;

    display: flex;
    justify-content: center;

  }

  &__item {
    max-width: 588px;
    height: 100%;
    flex: 0 0 588px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &_big {
      width: 533px;
      height: 533px;
      margin: 0 20px;
      flex: 0 0 533px;
    }
  }

  &__item_last{
    max-width: 294px;
    flex: 0 0 294px;
  }

  &__item-col{
    width: 254px;
    height: 100%;
    margin: 0 20px;
    flex: 0 0 254px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__link {
    display: block;
    width: 254px;
    height: 254px;;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;

    &:last-child{
      margin-bottom: 0;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      box-shadow: 2px 2px 8px rgba(107, 122, 155, 0.3);

      .customers__fade {
        opacity: 1;
      }
    }

    h4 {
      margin-top: 72px;
      color: $white;
      font-family: $Cambria;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      line-height: 14px;
    }
  }

  &__link-big{
    width: 100%;
    height: 100%;
  }

  &__fade {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 224, 208, 0.3);
    transition: $delay;
    opacity: 0;
  }

  &__fade img{
    max-width: 196px;
    height: auto;
  }

  &__slider {
    margin-top: 47px;

    @media (max-width: 1919px) and (min-width: 1280px) {

    }

    .slick-dots {
      bottom: -64px;
    }
  }

  &__slide {
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
    @media (max-width: 1919px) and (min-width: 1280px) {
      padding: 0 10px;
    }
  }
}

.licenses {
  padding-top: 119px;

  .wrapper {
    padding: 0;
    max-width: 1594px;

    &_text {
      margin-top: 64px;
      padding-left: 144px;

      p {
        margin-bottom: 24px;
        color: $black;
        font-family: $Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

  &__container {
    margin-top: 48px;
    background-image: url("../img/licenses-bg.png");
    background-size: cover;


    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 263px;
      padding-left: 103px;
      padding-right: 103px;

    }

    img {
      width: 153px;
      height: 217px;
    }
  }
}

.communication {
  padding: 58px 0 28px;
  background-color: rgba(172, 172, 172, 0.11);

  p {
    margin-top: 38px;
    text-align: center;
    color: $black;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;

  }

  &__form {
    margin: 34px auto 0;
    width: 630px;
  }

  &__container {
    padding-top: 18px;
    height: 274px;
    background-color: rgba(153, 204, 204, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__field {
    margin-bottom: 10px;
    width: 367px;
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    padding-left: 12px;

    &_input {
      height: 32px;
    }

    &_textarea {
      padding-top: 10px;
      height: 112px;
      resize: none;
    }
  }

  &__submit {
    cursor: pointer;
    width: 166px;
    height: 39px;
    text-transform: uppercase;
    border: 1px solid transparent;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    font-family: $Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    transition: $delay;

    &:hover {
      color: #00e0d0;
      border-color: #86ecd5;
    }
  }

  &__checkbox {
    margin: 12px 0 0 23px;
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $black;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid $black;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 3px;
        top: -2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    input:checked ~ span {
      background-color: $black;
    }
    input:checked ~ span:after {
      display: block;
    }
  }

}



